<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addProduct()">
                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Ingrese Nombre">
                    <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">El campo nombre es <strong>Requerido</strong></span>
                    <input formControlName="description" type="text" class="form-control mt-2" id="name" placeholder="Ingrese Descripcion">
                    <span *ngIf="form.get('description')?.hasError('required')&& form.get('description')?.touched">El campo nombre es <strong>Requerido</strong></span>
                    <input formControlName="price" type="number" class="form-control mt-2" id="name" placeholder="Ingrese Precio">
                    <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">El campo nombre es <strong>Requerido</strong></span>
                    <input formControlName="stock" type="number" class="form-control mt-2" id="name" placeholder="Ingrese Stock">
                    <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">El campo nombre es <strong>Requerido</strong></span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-info">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-primary"> Aceptar</button>
                        </div>
                    </div>
                  
                </form>
             </div>
          </div>
    </div>
</div>
