<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <form action="">
                    <input type="text" class="form-control" id="name" placeholder="Ingrese Nombre">
                    <input type="text" class="form-control mt-2" id="name" placeholder="Ingrese Descripcion">
                    <input type="text" class="form-control mt-2" id="name" placeholder="Ingrese Precio">
                    <input type="text" class="form-control mt-2" id="name" placeholder="Ingrese Stock">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-info">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary"> Aceptar</button>
                        </div>
                    </div>
                  
                </form>
             </div>
          </div>
    </div>
</div>
